In [26]:
import pandas as pd
import scipy 
from scipy import stats
import statsmodels.api as sm
import statsmodels.stats.descriptivestats as sd

In [27]:
from statsmodels.formula.api import ols

In [28]:
cof=pd.read_csv("Cutlets.csv")

In [41]:
cof

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [48]:
cof.describe(include='all')

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [53]:
Unit_A=cof['Unit A']

In [54]:
Unit_B=cof['Unit B']

In [55]:
stats.ttest_ind(Unit_A,Unit_B)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [ ]:
# Q2

In [57]:
cof2=pd.read_csv("LabTAT.csv")

In [58]:
cof2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [59]:
cof2.columns="Laboratory 1","Laboratory 2","Laboratory 3","Laboratory 4"

In [64]:
Laboratory_1=cof2['Laboratory 1']

In [65]:
Laboratory_2=cof2['Laboratory 2']
Laboratory_3=cof2['Laboratory 3']
Laboratory_4=cof2['Laboratory 4']

In [73]:
print(stats.shapiro(Laboratory_1))    #Shapiro Test
print(stats.shapiro(Laboratory_2))
print(stats.shapiro(Laboratory_3))
print(stats.shapiro(Laboratory_4))

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)
ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)
ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)
ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [74]:
scipy.stats.levene(Laboratory_1,Laboratory_2)
scipy.stats.levene(Laboratory_1,Laboratory_3)
scipy.stats.levene(Laboratory_1, Laboratory_4)
scipy.stats.levene(Laboratory_2,Laboratory_3)
scipy.stats.levene(Laboratory_2,Laboratory_4)
scipy.stats.levene(Laboratory_3, Laboratory_4)

LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

In [75]:
mod=ols('Laboratory_1 ~ (Laboratory_2 + Laboratory_3 + Laboratory_4 )',data=cof).fit()

aov_table=sm.stats.anova_lm(mod, type=2)

print(aov_table)

                 df        sum_sq     mean_sq         F    PR(>F)
Laboratory_2    1.0    332.030416  332.030416  1.940311  0.166299
Laboratory_3    1.0    203.853111  203.853111  1.191271  0.277335
Laboratory_4    1.0    265.614707  265.614707  1.552192  0.215323
Residual      116.0  19850.186366  171.122296       NaN       NaN

In [ ]:
#3

In [76]:
Males=pd.Series([50, 142, 131, 70])
Females =pd.Series([550, 351, 480, 350])

In [77]:
stats.ttest_ind(Males,Females)

Ttest_indResult(statistic=-6.139294288037571, pvalue=0.0008548166684701879)

In [ ]:
#4

In [107]:
cof3=pd.read_csv("Costomer+OrderForm1.csv")
cof3

     Phillippines  Indonesia  Malta  India
0               0          0      1      0
1               0          0      0      1
2               0          1      1      0
3               0          0      0      0
4               0          0      1      0
..            ...        ...    ...    ...
295             0          0      0      0
296             0          0      0      0
297             0          0      1      0
298             0          0      0      0
299             0          1      1      0

[300 rows x 4 columns]

In [103]:
cof3.columns="Phillippines","Indonesia","Malta","India"

In [109]:
Phillippines1=cof3['Phillippines']
Indonesia2=cof3['Indonesia']
Malta3=cof3['Malta']
India4=cof3['India']

In [110]:
print(stats.shapiro(Phillippines1))    #Shapiro Test
print(stats.shapiro(Indonesia2))
print(stats.shapiro(Malta3))
print(stats.shapiro(India4))

ShapiroResult(statistic=0.335437536239624, pvalue=1.517645961713871e-31)
ShapiroResult(statistic=0.36095130443573, pvalue=4.433202500764595e-31)
ShapiroResult(statistic=0.34846949577331543, pvalue=2.613009448728175e-31)
ShapiroResult(statistic=0.2686171531677246, pvalue=1.0627930952532314e-32)

In [111]:
scipy.stats.levene(Phillippines1,Indonesia2)
scipy.stats.levene(Phillippines1,Malta3)
scipy.stats.levene(Phillippines1, India4)
scipy.stats.levene(Indonesia2,Malta3)
scipy.stats.levene(Indonesia2,India4)
scipy.stats.levene(Malta3, India4)

LeveneResult(statistic=2.595523351746897, pvalue=0.10769369283105545)